<a href="https://colab.research.google.com/github/iMike-505/Tratamiento-de-Datos/blob/main/01Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tratamiento de Datos con Python**

[*FES Aragón*](https://www.aragon.unam.mx/fes-aragon/#!/inicio)

## Curso Intersemestral
## ICO
## Tratamiento de Datos

In [3]:
# Serie de Fibonacci
a = 0
b = 1
print(a, b)

for _ in range(12):
  r = a + b
  a = b
  b = r
  print(r)

0 1
1
2
3
5
8
13
21
34
55
89
144
233

In [4]:
palabra = 'Datos'
for letra in palabra: #Contar la palabra letra por letra
  print(letra)
  if letra == 't': #Termina el proceso si se encuentra con una 't'
    break

D
a
t

In [5]:
#Ciclos anidados
for i in range(1,11):
  print(f'Tabla del {i}:')
  for j in range(1,11):
    r = i * j
    print(f'{i} * {j} = {r}')
  print(' ')

Tabla del 1:
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

Tabla del 2:
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

Tabla del 3:
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

Tabla del 4:
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

Tabla del 5:
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Tabla del 6:
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

Tabla del 7:
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

Tabla del 8:
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

Tabla del 9:
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

Tabla del 10:
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [6]:
from typing import no_type_check
VOCALES = 'aeiou'
frase = 'SupercAlifragilisticoespialidoso'

no_vocales = 0
for letra in frase.lower():
  if letra in VOCALES:
    no_vocales += 1

print(no_vocales)

15

In [7]:
#Listas con ()
compra = ['Agua', 'Huevos', 'Aceite', 'Sal', 'Limón']
detalle = ['mineral natural', 'organicos', 'de oliva virgen', 'de mar', 'verde']

#Sin enumerar
for producto in compra:
  print(producto)

#Enumerar
for i, producto in enumerate(compra):
  print(i, producto)

#Zip 
for producto, detail in zip(compra, detalle):
  print(producto, detail)

#Duplas con []
print(list(zip(compra, detalle)))

Agua
Huevos
Aceite
Sal
Limón
0 Agua
1 Huevos
2 Aceite
3 Sal
4 Limón
Agua mineral natural
Huevos organicos
Aceite de oliva virgen
Sal de mar
Limón verde
[('Agua', 'mineral natural'), ('Huevos', 'organicos'), ('Aceite', 'de oliva virgen'), ('Sal', 'de mar'), ('Limón', 'verde')]

In [8]:
valores = '32,45,11,87,20,48'
lista_valores = []
for valor in valores.split(','):
  lista_valores.append(int(valor))

print(lista_valores)

[32, 45, 11, 87, 20, 48]

In [9]:
lista_enteros = [int(valor) for valor in valores.split(',')]
print(lista_enteros)

[32, 45, 11, 87, 20, 48]

In [10]:
lista = ['pan', 'jamon', 100, 123.45]
print(lista)
print(lista[0])
print(lista[3])
print(lista[-1])
print(lista[-3])

['pan', 'jamon', 100, 123.45]
pan
123.45
123.45
jamon

In [11]:
lista.append('jugo')

In [12]:
lista

['pan', 'jamon', 100, 123.45, 'jugo']

In [13]:
lista.count(100)

1

In [14]:
lista.extend([40,'cebolla',10]) #extend suma los valores a un arreglo
lista

['pan', 'jamon', 100, 123.45, 'jugo', 40, 'cebolla', 10]

In [15]:
lista.append(['tocino', 90])#append añade con todo y lista c:
lista

['pan', 'jamon', 100, 123.45, 'jugo', 40, 'cebolla', 10, ['tocino', 90]]

In [16]:
lista.extend(range(500, 505))
lista

['pan',
 'jamon',
 100,
 123.45,
 'jugo',
 40,
 'cebolla',
 10,
 ['tocino', 90],
 500,
 501,
 502,
 503,
 504]

In [17]:
lista.index(500)

9

In [18]:
lista.insert(3, 'mostaza')#Se inserta un valor (posición, dato)
lista

['pan',
 'jamon',
 100,
 'mostaza',
 123.45,
 'jugo',
 40,
 'cebolla',
 10,
 ['tocino', 90],
 500,
 501,
 502,
 503,
 504]

In [19]:
lista[0] = 'pan integral' #Se intercambia el valor
lista

['pan integral',
 'jamon',
 100,
 'mostaza',
 123.45,
 'jugo',
 40,
 'cebolla',
 10,
 ['tocino', 90],
 500,
 501,
 502,
 503,
 504]

In [20]:
lista[4:10] #[Rango inicial, Rango final]

[123.45, 'jugo', 40, 'cebolla', 10, ['tocino', 90]]

In [21]:
lista[:]# El ":" es todos los elementos

['pan integral',
 'jamon',
 100,
 'mostaza',
 123.45,
 'jugo',
 40,
 'cebolla',
 10,
 ['tocino', 90],
 500,
 501,
 502,
 503,
 504]

In [22]:
lista[::-1] #Te da el subindice en reversa

[504,
 503,
 502,
 501,
 500,
 ['tocino', 90],
 10,
 'cebolla',
 40,
 'jugo',
 123.45,
 'mostaza',
 100,
 'jamon',
 'pan integral']

In [23]:
#Crear un alias de lista
lista2 = lista
print(lista)
print(lista2)

['pan integral', 'jamon', 100, 'mostaza', 123.45, 'jugo', 40, 'cebolla', 10, ['tocino', 90], 500, 501, 502, 503, 504]
['pan integral', 'jamon', 100, 'mostaza', 123.45, 'jugo', 40, 'cebolla', 10, ['tocino', 90], 500, 501, 502, 503, 504]

In [24]:
lista[1] = 'tocino'
print(lista)
print(lista2)

['pan integral', 'tocino', 100, 'mostaza', 123.45, 'jugo', 40, 'cebolla', 10, ['tocino', 90], 500, 501, 502, 503, 504]
['pan integral', 'tocino', 100, 'mostaza', 123.45, 'jugo', 40, 'cebolla', 10, ['tocino', 90], 500, 501, 502, 503, 504]

In [25]:
lista2[3] = 'mayonesa'
print(lista)
print(lista2)

['pan integral', 'tocino', 100, 'mayonesa', 123.45, 'jugo', 40, 'cebolla', 10, ['tocino', 90], 500, 501, 502, 503, 504]
['pan integral', 'tocino', 100, 'mayonesa', 123.45, 'jugo', 40, 'cebolla', 10, ['tocino', 90], 500, 501, 502, 503, 504]

In [26]:
#Crear una copia
lista3 = lista[:]
print(lista)
print(lista3)

['pan integral', 'tocino', 100, 'mayonesa', 123.45, 'jugo', 40, 'cebolla', 10, ['tocino', 90], 500, 501, 502, 503, 504]
['pan integral', 'tocino', 100, 'mayonesa', 123.45, 'jugo', 40, 'cebolla', 10, ['tocino', 90], 500, 501, 502, 503, 504]

In [27]:
lista[5] = 'agua'
print(lista)
print(lista2)
print(lista3)

['pan integral', 'tocino', 100, 'mayonesa', 123.45, 'agua', 40, 'cebolla', 10, ['tocino', 90], 500, 501, 502, 503, 504]
['pan integral', 'tocino', 100, 'mayonesa', 123.45, 'agua', 40, 'cebolla', 10, ['tocino', 90], 500, 501, 502, 503, 504]
['pan integral', 'tocino', 100, 'mayonesa', 123.45, 'jugo', 40, 'cebolla', 10, ['tocino', 90], 500, 501, 502, 503, 504]

In [28]:
lista4 = lista + lista3
lista4

['pan integral',
 'tocino',
 100,
 'mayonesa',
 123.45,
 'agua',
 40,
 'cebolla',
 10,
 ['tocino', 90],
 500,
 501,
 502,
 503,
 504,
 'pan integral',
 'tocino',
 100,
 'mayonesa',
 123.45,
 'jugo',
 40,
 'cebolla',
 10,
 ['tocino', 90],
 500,
 501,
 502,
 503,
 504]

In [29]:
#Pop muestra el ultimo elemento de una lista y lo elimina
lista4.pop()

504

In [30]:
lista4

['pan integral',
 'tocino',
 100,
 'mayonesa',
 123.45,
 'agua',
 40,
 'cebolla',
 10,
 ['tocino', 90],
 500,
 501,
 502,
 503,
 504,
 'pan integral',
 'tocino',
 100,
 'mayonesa',
 123.45,
 'jugo',
 40,
 'cebolla',
 10,
 ['tocino', 90],
 500,
 501,
 502,
 503]

In [31]:
lista4.remove(100)

In [32]:
lista4

['pan integral',
 'tocino',
 'mayonesa',
 123.45,
 'agua',
 40,
 'cebolla',
 10,
 ['tocino', 90],
 500,
 501,
 502,
 503,
 504,
 'pan integral',
 'tocino',
 100,
 'mayonesa',
 123.45,
 'jugo',
 40,
 'cebolla',
 10,
 ['tocino', 90],
 500,
 501,
 502,
 503]

In [33]:
for n in range(4,9):
  lista4.pop(n)
lista4

['pan integral',
 'tocino',
 'mayonesa',
 123.45,
 40,
 10,
 500,
 502,
 504,
 'pan integral',
 'tocino',
 100,
 'mayonesa',
 123.45,
 'jugo',
 40,
 'cebolla',
 10,
 ['tocino', 90],
 500,
 501,
 502,
 503]

In [34]:
lista_cursos = ['Python', 'Ciencia de datos', 'Big Data', 'Python', 'Base de datos']
lista_cursos

['Python', 'Ciencia de datos', 'Big Data', 'Python', 'Base de datos']

In [35]:
set_cursos = set(lista_cursos) #Genera un conjunto de elementos únicos
set_cursos

{'Base de datos', 'Big Data', 'Ciencia de datos', 'Python'}

In [36]:
set_cursos2 = set(['Python', 'Pandas', 'Mineria', 'Base de datos'])
set_cursos2

{'Base de datos', 'Mineria', 'Pandas', 'Python'}

In [39]:
#Union |
print(set_cursos.union(set_cursos2))
print(set_cursos | set_cursos2)

{'Base de datos', 'Mineria', 'Big Data', 'Python', 'Ciencia de datos', 'Pandas'}
{'Base de datos', 'Mineria', 'Big Data', 'Python', 'Ciencia de datos', 'Pandas'}

In [40]:
#Intersección &
print(set_cursos.intersection(set_cursos2))
print(set_cursos & set_cursos2)

{'Python', 'Base de datos'}
{'Python', 'Base de datos'}

In [41]:
set_cursos.difference(set_cursos2)

{'Big Data', 'Ciencia de datos'}

In [42]:
diccionario = {'nombre' : 'Juan', 'edad' : 22, 'cursos': ['Python','Ciencia de datos','Big Data'] }
diccionario

{'cursos': ['Python', 'Ciencia de datos', 'Big Data'],
 'edad': 22,
 'nombre': 'Juan'}

In [43]:
diccionario['cursos']

['Python', 'Ciencia de datos', 'Big Data']

In [44]:
for c in diccionario['cursos']:
  print(c)

Python
Ciencia de datos
Big Data

In [45]:
#Llaves de diccionario
for k in diccionario.keys():
  print(k)

nombre
edad
cursos

In [46]:
#Valores de diccionario
for v in diccionario.values():
  print(v)

Juan
22
['Python', 'Ciencia de datos', 'Big Data']

In [47]:
#Items de diccionario
for i in diccionario.items():
  print(i)

('nombre', 'Juan')
('edad', 22)
('cursos', ['Python', 'Ciencia de datos', 'Big Data'])

In [48]:
datos = ('Tokyo:38_140_000;Delhi:26_454_000;Shanghai:24_484_000;'
    'Mumbai:21_357_000;São Paulo:21_297_000;CDMX:24_800_000')
datos

'Tokyo:38_140_000;Delhi:26_454_000;Shanghai:24_484_000;Mumbai:21_357_000;São Paulo:21_297_000;CDMX:24_800_000'

In [50]:
ciudades = {}
for r in datos.split(';'):
  ciudad, poblacion = r.split(':')
  ciudades[ciudad] = int(poblacion)
ciudades

{'CDMX': 24800000,
 'Delhi': 26454000,
 'Mumbai': 21357000,
 'Shanghai': 24484000,
 'São Paulo': 21297000,
 'Tokyo': 38140000}