<a href="https://colab.research.google.com/github/iMike-505/Tratamiento-de-Datos/blob/main/04PandasTiposOperaciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Debe existir por lo menos un indice valido en la tupla de parametro
#Si se repite el indice en la tupla se repite el renglon en el eresultado
#Si existe un indice valido y un indice invalido el renglón de este ultimo se lena con NaN
# Si no existe un indice valido en la tupla genera un error

In [ ]:
datos.info()

### El método ```iloc[ ]```.

El método ```iloc[ ]``` permite identificar a uno o más elemento dentro de un renglón de un dataframe utilizando números enteros para referenciar tanto al índice como a las columnas.

```
<df>.iloc[<índice>,[<col 1>, <col 2>, ... <col n>]]
```

In [ ]:
datos = pd.DataFrame(np.arange(20).reshape(5, 4), 
                     columns=('primero', 'segundo', 'tercero', 'cuarto'))
datos

In [ ]:
datos.iloc[2, [3]]

In [ ]:
type(datos.iloc[2, [3]])

In [ ]:
datos.iloc[2, [2, 1, 3]]

In [ ]:
type(datos.iloc[2, [2, 1, 3]])

In [ ]:
datos.iloc[2]

In [ ]:
datos.iloc[2, 3 [2, 1, 3]] #Error, no se puede obtener más de un renglón con iloc

### El método ```loc[ ]```.
permite identificar a uno o más elemento dentro de un renglón de un dataframe utilizando los identificadores para referenciar tanto al índice como a las columnas.

```
<df>.loc[<id_índice>,[<id_col 1>, <id_col 2>, ... <id_col n>]
```

In [ ]:
indice = ['gerente', 'supervisor', 'vendedor', 'cajero']
datos = pd.DataFrame({'nombres':('Carlos Ayala', 
                                    'Martha Sánchez', 
                                    'Jimena Ríos', 
                                    'Raul Quiroz'),
            'fechas':(dt.datetime(1995,12,21), 
                      dt.datetime(1989,1,13), 
                      dt.datetime(1992,9,14), 
                      dt.datetime(1993,7,8)),
            'saldo': (3600, 
                      7452, 
                      np.NaN, 
                      12143.5),
            'al corriente':(True, 
                            True, 
                            False, 
                            True)}, 
            index=indice)

datos

In [ ]:
datos.loc["supervisor", ["fechas"]]

In [ ]:
datos.loc["supervisor", ["fechas", "nombres"]]

In [ ]:
datos.loc[1, ["fechas", "nombres"]]#No se puede usar el numero de indice (renglón), ya que genera error

In [ ]:
datos

In [ ]:
#Utilizar expresiones lógicas en loc[]
datos["saldo"] > 3000

In [ ]:
datos.loc[datos["saldo"]] > 3000

In [ ]:
datos.loc[datos["al corriente"]]

In [ ]:
datos.loc[datos["al corriente"] == False]

In [ ]:
datos.loc[datos["al corriente"] ==False, ["fechas", "nombres"]]

In [ ]:
datos

In [ ]:
#iat[] regresa un elemento localizando en un indice y columna especifica
datos.iat[2,2]

In [ ]:
type(datos.iat[2,2])

In [ ]:
#iat[] regresa un elemento localizado en un indice y columna especifica por nombre
datos.at["vendedor", "saldo"]

In [ ]:
type(datos.at["vendedor", "saldo"])